<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monsterland</title>
</head>
<body>
    <div id="navigation"></div>
    <h1> {% block titre %} Monstreland {% endblock %} </h1>
    <div id="contenu"> {% block contenu %} {% endblock %} </div>
    <hr />
    <div id="pied_de_page">
        <p>&copy; Copyrights.</p>
    </div>
</body>
</html>